* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #F4F5F7;
}


/* Navbar Icons */
.cart {
  background-color: black;
}

.search-bar {
  display: none;
}

.search {
  position: relative;
}

.toggle-search {
  z-index: 100;
  background-color: white;
  padding-left: 8px;
}

.search-bar.active {
  display: flex;
  position: absolute;
  margin: 0 auto;
  border: 1px solid black;
  padding: 6.8px;
  right: 0;
  top: 0;
}

.flex {
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.nav-icon,
.padding {
  padding: 8.2px;
  cursor: pointer;
}

/* End */

/* Navigation Menu */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 128px;
}

.logo {
  font-weight: 600;
  font-family: "lato", sans-serif;
  font-size: 25px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  justify-content: space-between;
  list-style: none;
}

.navbar li a {
  text-decoration: none;
  padding: 2rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 16px;
}

/* End */

/* Hover Navigation Menu */
.underline {
  color: black;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.underline::after {
  content: '';
  height: 1px;
  width: 0%;
  display: block;
  transition: .5s ease-in-out;
  background-color: black;
  margin: 0 auto;
}

.underline:hover::after {
  content: '';
  height: 1px;
  width: 20%;
  display: block;
  background-color: black;
}

.navbar-links>ul>li a:hover {
  font-weight: bold;
  margin: -2.2px;
}

.a-home {
  font-weight: bold;
  margin: -1px;
}

/* End */

/* Contents */
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero3 {
  width: 100%;
  display: flex;
  justify-content: column;
}

.hero4 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero5 {
  width: 100%;
}

.hero6 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero7{
  width: 100%;
  display: flex;
  justify-content: row;
  margin-top: 120px;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer li{
  color: #B8B3B2;
}

.col11 {
  background-color: #363130;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.disc {
  font-family: 'Lato', sans-serif;
  font-style: normal;
}

.disc-p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #888382;
}

.box {
  background-color: #363130;
  color: white;
}

.category {
  color: #888382;
  font-family: "Montserrat", sans-serif;
}

/* Gallery Grid */
  .padding-top {
    padding-top: 50px;
  }

  .padding-bottom {
    padding-bottom: 50px;
  }

  .bttn-disc span {
    background-color: #F4F5F7;
    padding: 20px 50px;
  }
/* End */

.carousel>*{
  margin: 0 auto;
}

/* -------- Media Queries -----------*/

/* -------- Media Query for Mobile --------- */
@media (max-width: 900px) {
  .carousel img {
    height: 400px;
  }

  .toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #363130;
    border-radius: 10px;
  }

  .nav-icon {
    padding: 10px;
  }

  .search {
    padding: 10px;
  }

  .logo {
    position: absolute;
    font-size: 20px;
    top: 2rem;
    left: 2rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links,
  .cart {
    display: none;
    width: 100%;
    padding-top: 1rem;
  }

  .search {
    position: absolute;
    top: 1.7rem;
    right: 3.9rem;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    position: relative;
    top: 4rem;
    padding: 20px 30px;
    background-color: gray;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .underline {
    color: black;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .underline::after {
    content: '';
    height: 1px;
    width: 0%;
    display: block;
    transition: .5s ease-in-out;
    background-color: black;
    margin: 0 auto;
  }

  .underline:hover::after {
    content: '';
    height: 1px;
    width: 10%;
    display: block;
    background-color: black;
  }

  .navbar-links>ul>li a:hover {
    font-weight: bold;
    margin: -2px;
  }

  .a-home {
    font-weight: bold;
    margin: -1px;
  }

  .navbar-links>ul>li a:hover {
    font-weight: bold;
  }

  /* Content */

  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero2 {
    display: flex;
    flex-direction: column;
  }

  .hero1 {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero3 {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero4 {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
  }

  .hero5{
    display: flex;
    flex-direction: column;
  }

  .hero7{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .col1 {
    margin: 0 auto;
    width: 100%;
  }

  .col3 {
    margin: 0 auto;
    width: 100%;
  }

  .col4 {
    margin: 0 auto;
    width: 100%;
  }

  .col10{
    margin: 0 auto;
    width: 100%;
  }

  .col11{
    width: 100%;
    height: 450px;
  }

  .col12{
    margin: 35px 0;
  }

  .col13{
    width: 100%;
    margin: 0 auto;
    height: 350px;
  }

  .col14{
    width: 100%;
    margin: 0 auto;
    height: 350px;
    background: #363130;
  }

  .disc {
    color: #F4F5F7;
    font-size: 36px;
    text-align: center;
    width: 370px;
    padding: 0 0 5px;
  }

  .img1 {
    width: 100%;
  }

  .img2 {
    margin-top: 120px;
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  .img3 {
    padding: 20px 40px;
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  .img4 {
    padding: 20px 40px;
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  .h1 {
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
    color: #363130;
    padding: 30px 40px 2px;
  }

  .p2 {
    font-size: 15px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    padding: 5px 40px;
  }

  .h2 {
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
    color: #363130;
    padding: 20px 40px 0;
  }

  .h3 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363130;

    padding: 19px 40px 0;
  }

  .h4 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363130;

    padding: 19px 40px 0;
  }

  .h5 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363130;
    text-align: center;

    padding: 10px 20px;
  }

  .h6{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363130;
    text-align: center;
  
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .h7{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
  
    padding: 0 20px;
    margin: 40px;
  }

  .p3 {
    font-size: 15px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    padding: 5px 40px 15px;
    width: 100%;
  }

  .p4 {
    width: 100%;
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;

    padding: 0px 40px 20px;
  }

  .p5 {
    width: 100%;
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;

    padding: 0px 40px 20px;
  }

  .p6 {
    width: 100%;
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 12px;
    line-height: 21px;

    text-align: center;
    padding: 0px 40px 20px;
  }

  .button {
    position: absolute;
    left: 40px;
    margin-top: 50px;
  }

  .button span {
    padding: 20px 50px;
    background-color: #363130;
    color: aliceblue;
    font-family: "lato", sans-serif;
    cursor: pointer;
  }

  .box {
    width: 85%;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    padding: 20px;
  }

  .div-box1 {
    padding-right: 30px;
    border-right: 1px solid gray;
  }

  .div-box2 {
    padding-left: 30px;
  }

  .feature {
    font-size: 30px;
    font-weight: 700;
  }

  .category {
    font-size: 15px;
  }

  .div-link1 {
    padding: 19px 40px;
  }

  .link1 {
    color: #E2842E;
    font-weight: 600px;
    width: 186px;
    height: 27px;
  }

  .link1:hover {
    color: gray;
  }

  .link2 {
    color: #E2842E;
    font-weight: 400;
    width: 186px;
    height: 27px;
    margin: 0 40px;
  }

  .link2:hover {
    color: gray;
  }

  .button1 {
    position: absolute;
    left: 40px;
  }

  .button1 {
    padding: 20px 50px 20px 50px;
    background-color: #363130;
    width: 187px;
    color: aliceblue;
    font-family: "lato", sans-serif;
    cursor: pointer;
  }

  /* Gallery Grid */

  .col9 {
    width: 100%;
    margin: auto 0;
    height: 615px;
    padding: 20px 9px;
  }
  
  .item img {
    max-width: 100%;
    height: 60%;
    vertical-align: middle;
    display: inline-block;
  }

  .col9>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .col9>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .col9 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-rows: dense;
    width: 100%;
  }

  .col9 .wide {
    grid-column: span 1;
  }

  .col9 .tall {
    grid-row: span 2;
  }

  .bttn-disc {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 650;
  }

  .disc {
    color: #F4F5F7;
    font-size: 35px;
    width: 87%;
    text-align: center;
  }

  .disc-p {
    font-size: 16px;
    line-height: 21px;
    padding: 12px 0 30px;
    width: 50%;
  }

  .btn {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-weight: 550;
  }

  .btn-1{
    display: flex;
    flex-direction: column;
    margin: 90px 15px;
    justify-content: center;
    text-align: center;
  }

  #btn1 {
    background-color: #363130;
    color: #ECEEF4;
    font-family: "lato", sans-serif;
    cursor: pointer;
    padding: 20px;
    width: 260px;
  }

  #btn2 {
    margin: 9px 0 90px;
    background-color: #ffffff;
    color: #1f1616;
    font-family: "lato", sans-serif;
    cursor: pointer;
    width: 260px;
    padding: 20px;
    border: 1px solid #363130;
  }

  .btn3{
    background-color: #ECEEF4;
    color: #1f1616;
    font-family: "lato", sans-serif;
    cursor: pointer;
    width: 260px;
    border: 1px solid #363130;
    font-weight: bold;
    align-self: center;
  }

  /* -------------Email---------------- */
    .form__group {
      position: relative;
      padding: 15px 0 0;
      margin-top: 10px;
      width: 90%;
    }
  
    .form__field {
      font-family: inherit;
      width: 100%;
      border: 0;
      border-bottom: 2px solid gray;
      outline: 0;
      font-size: 1.3rem;
      color: white;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
      margin-bottom: 30px;

      &::placeholder {
        color: transparent;
      }
  
      &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
      }
    }
  
    .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: gray;
    }
  
    .form__field:focus {
      ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: white;
        font-weight: 700;
      }
  
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, white, white);
      border-image-slice: 1;
    }
  
    /* reset input */
    .form__field {
  
      &:required,
      &:invalid {
        box-shadow: none;
      }
    }
  
  /* End */
}

/* ---------- Media Query for Desktop -------------*/

@media (min-width: 900px) {

  .hero1 {
    margin-top: 240px;
    margin-bottom: 120px;
  }

  .hero3 {
    margin-top: 75px;
  }

  .h1 {
    font-size: 65px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
    color: #363130;
    padding: 0 120px;
    margin-top: 70px;
  }

  .h2 {
    font-size: 64px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
    color: #363130;
    padding: 50px 120px 2px;
  }

  .h3 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363130;

    padding: 120px 45px 0;
  }

  .h4 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363130;
    padding: 100px 125px 0;
  }

  .h5 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #363130;
    padding: 20px 0 ;
  }

  .h6 {
  margin: 25px;
  width: 417px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 130%;
  text-transform: capitalize;
  color: #363130;

  }
  .h7 {
  margin: 20px;
  width: 284px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 130%;
  color: #FFFFFF;
  }

  .p2 {
    margin: 1px 0;
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    padding: 10px 120px;
  }

  .p3 {
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    padding: 5px 120px 100px;
  }

  .p4 {
    width: 320px;
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    margin: 0 45px 45px;
  }

  .p5 {
    width: 320px;
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;

    margin: 0 125px;
  }

  .p6 {
    width: 600px;
    font-size: 16px;
    color: #888382;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;

    text-align: center;
  }

  .img1 {
    margin-top: 50px;
    object-fit: cover;
    width: 100%;
    height: 410px;
  }

  .img2 {
    object-fit: cover;
    width: 78.9%;
    height: 600px;
  }

  .img3 {
    object-fit: cover;
    width: 85%;
    height: 530px;
  }

  .img4 {
    object-fit: cover;
    width: 75%;
    height: 530px;
  }

  .col1 {
    width: 40%;
  }

  .col2 {
    width: 60%;
  }

  .col3 {
    width: 30%;
  }

  .col4 {
    width: 70%;
  }

  .col5 {
    width: 50%;
    height: 530px;
    object-fit: cover;
    display: flex;
    justify-content: right;
    margin-right: 150px;
  }

  .col6 {
    width: 50%;
  }

  .col7 {
    width: 50%;
  }

  .col8 {
    width: 65%;
    margin-left: 50px;
  }

  .col9 {
    width: 50%;
  }

  .col10 {
    width: 50%;
  }

  .col12{
    width: 100%;
    padding-bottom: 60px;
  }

  .col12 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col13 {
    width: 50%;
    margin: 100px 135px 170px 250px;
    height: 250px;
  }

  .col14{
    width: 50%;
    margin: 100px 250px 0 0 ;
    background: #363130;
    height: 250px;
  }

  

  .box {
    width: 100%;
    height: 130px;
    left: 0px;
    padding: 24px 120px;
    display: flex;
  }

  .div-box1 {
    padding-right: 30px;
    border-right: 2px solid gray;
  }

  .div-box2 {
    padding-left: 30px;
  }

  .feature {
    font-size: 45px;
    font-weight: 700;
  }

  .category {
    font-size: 20px;
  }

  .navbar {
    padding: 0 120px;
  }

  .button {
    position: absolute;
    left: 119px;
    margin-top: 67px;
  }

  .button span {
    padding: 20px 50px 20px 50px;
    background-color: #363130;
    color: aliceblue;
    font-family: "lato", sans-serif;
    cursor: pointer;
  }

  .button1 {
    position: absolute;
    left: 119px;
    margin-top: 67px;
  }

  .button1 {
    padding: 20px 50px 20px 50px;
    background-color: #363130;
    width: 187px;
    color: aliceblue;
    font-family: "lato", sans-serif;
    cursor: pointer;
  }

  .link1 {
    position: absolute;
    color: #E2842E;
    font-weight: 400;
    width: 186px;
    height: 27px;
    left: 120px;
    top: 1420px;
  }

  .link1:hover {
    color: gray;
  }

  .link2 {
    color: #E2842E;
    font-weight: 400;
    width: 186px;
    height: 27px;
    margin: 0 45px;
  }

  .link2:hover {
    color: gray;
  }

  /* Gallery Grid */

  .item img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }

  .col9>div {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .col9>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

  }

  .col9 {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 420px 350px;
    grid-template-rows: 350px 350px;
    grid-auto-rows: 350px;
    grid-auto-rows: dense;
    margin-left: 120px;
  }

  .col9 .wide {
    grid-column: span 1;
  }

  .col9 .tall {
    grid-row: span 2;
  }

  .col10 h2 {
    margin-top: 280px;
  }
  /* End */

  .col11{
    width: 100%;
    height: 290px;
    margin: 70px 0;
  }

  .disc {
    color: #F4F5F7;
    font-size: 40px;
    width: 700px;
    text-align: center;
  }

  .disc-p {
  font-size: 16px;
  line-height: 32px;
  padding: 12px 0;
  }

  .bttn-disc{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }

  .carousel {
    background: #EEE;
    height: 720px;
  }

  .carousel img {
    display: block;
    object-fit: cover;
    height: 100%;
  }

  .btn {
    margin: 50px 0 0 25px;
  }

  .btn-1 {
    display: flex;
    flex-direction: row;
  }

  /* --------------Email------------ */
  .form__group {
    position: relative;
    margin: 10px 20px;
    width: 93%;
  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid white;
    outline: 0;
    font-size: 20px;
    color: white;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown~.form__label {
      font-size: 15px;
      cursor: text;
      top: 20px;
    }
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: gray;
  }

  .form__field:focus {
    ~.form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 17px;
      color: white;
      font-weight: 400;
    }
    font-weight: 700;
    border-width: 1px;
    border-image: linear-gradient(to right, white, white);
    border-image-slice: 1;
  }

  /* reset input */
  .form__field {

    &:required,
    &:invalid {
    box-shadow: none;
    }
  }
  
  #btn1 {
    background-color: #363130;
    color: #ECEEF4;
    font-family: "lato", sans-serif;
    cursor: pointer;
    padding: 20px 50px;
  }

  #btn2 {
    background-color: #ECEEF4;
    color: #1f1616;
    font-family: "lato", sans-serif;
    cursor: pointer;
    padding: 20px 50px;
    border: 1px solid #363130;
    margin-left: 10px;
  }
}

#footer-section {
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

#footer-section .footer-container {
  height: fit-content;
  width: 100%;
  background-color: #363130;
}

#footer-section .reserve {
  background-color: white;
  width: 100%;
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer-section .reserve>span {
  color: #363130;
  font-weight: 700;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px 30px;
  margin-top: 60px;
}

.footer-container ul>li {
  max-width: 296px;
  color: #ECEEF4;
}

.footer-container ul:last-of-type h4 {
  padding-bottom: 16px;
}

.footer-container ul:not(:last-of-type) li {
  margin-bottom: 10px;
}

.footer-container ul li:first-of-type {
  margin-bottom: 20px;
}

.footer-container ul li:not(:first-of-type) {
  font-size: 14px;
  font-weight: 400;
}

.footer-container ul:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container ul:last-of-type li:first-of-type>hr {
  width: 85px;
  border-bottom: 2px solid #B8B3B2;
}

.footer-container ul:nth-of-type(1),
.footer-container ul:nth-of-type(2) {
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 110px;
  }

  .footer-container ul:last-of-type {
    text-align: right;
  }

  .footer-container ul:last-of-type li:first-of-type>hr {
    display: none;
  }

  .footer-container ul:last-of-type li:nth-of-type(3)>hr {
    float: right;
    width: 85px;
    border-bottom: 2px solid #B8B3B2;
  }

  .footer-container ul:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .footer-container ul:last-of-type li:nth-of-type(2) {
    margin-bottom: 35px;
  }

  .footer-container ul:last-of-type li:nth-of-type(3) {
    margin-bottom: 45px;
  }

  .footer-container ul:not(:last-of-type) li {
    margin-bottom: 23px;
  }

  .footer-container ul li>h4 {
    font-size: 24px;
  }

  .footer-container ul:last-of-type li>h4 {
    font-weight: 900;
    font-size: 36px;
  }

  .footer-container ul li:not(:first-of-type) {
    font-size: 15px;
  }

  .social-icons>* {
    width: 40px;
    height: 40px;
  }
}